.welcome-header {
    display: flex;
    top: 0px;
    right: 0px;
    justify-content: flex-end;
}
body {
    font-family: 'Monospace', monospace;
}
.contacts-container, .messages-container, .channels-container {
    border: 2px solid #000; /* Ramka o grubości 2px i kolorze czarnym */
    margin: 0.5%;
    padding: 0.5%;
	float:left;
	height:90%
}

.contacts-container, .channels-container {
	width:20%;
	height: 84%;
    overflow-y: auto;  /* Włącz przewijanie pionowe, gdy zawartość jest za długa */
    overflow-x: hidden; /* Zapobiegaj poziomemu przewijaniu */
}
.messages-container{
	width: 53%;
	  height: 84%;
    overflow-y: auto;  /* Włącz przewijanie pionowe, gdy zawartość jest za długa */
    overflow-x: hidden; /* Zapobiegaj poziomemu przewijaniu */
}

.form-box button {
    width: calc(100% - 20px); /* Szerokość z uwzględnieniem paddingu */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.action-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    width: calc(100% - 20px); /* Szerokość z uwzględnieniem paddingu */
}
#messagesDisplay
{
	 padding: 10px;
    margin: 10px 0;
	width: calc(100% - 20px);
	height:80%
}

#messageInputContainer {
	height:12%;
	width: 100%;
}

#messageInput
{
	height:60%;
	width: calc(100% - 5px);
}

#sendMessageBtn
{
height: 40%;
width:calc(100% - 5px);

}

.channel-button {
    width: 90%;           /* 90% szerokości kontenera */
    margin: 5px auto;     /* Centrowanie przycisku i dodanie marginesu */
    display: block;       /* Wyświetlanie jako blok, aby zająć całą linię */

    /* Przykład stylów przycisku "Wyloguj" */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; /* Przykładowy kolor tła */
    color: white;              /* Kolor tekstu */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}

.channel-button:hover {
    background-color: #45a049; /* Kolor tła podczas najechania */
}

.channel-button.selected {
    background-color: #333; /* Kolor tła dla wybranego kanału */
    color: white;
}

#leaveChannelButton {
    display: none; /* domyślnie ukryty */
    /* inne style przycisku, np. klasy .action-button */
}

.message {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.message-id, .message-date, .message-content {
    margin-bottom: 5px;
}